.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}
h1, h2 {
  color: #38bdf8;
}
a {
  color: #94a3b8;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
